

<div class=" card-container"> 
   <div class="container-first">
    <div class="profile" style="height: 50px;">
    </div>
  </div>
  <div class="container-first">
    <footer class="d-flex flex-wrap justify-content-center align-items-center py-3 my-4 border-top">
        <a routerLink="/homePage" class="btn px-2 text-body-secondary">Home</a> 
    </footer>
  </div>

<div class="cards">
  
  <app-card
  [cardTitle]="'Card title'"
  [cardText]="'Some quick example text to build on the card title and make up the bulk of the cards content.'"
  ></app-card>

</div>
</div>